<div class="container">
    <div class="row text center navbar-fixed-bottom">
        <div class="titulo">
            <h1>LH-Vagas</h1>
            <h3>Um sistema de gerenciamento de vagas</h3>
        </div>
        <div class="">
            <div class="row secao">
                
                <div class="">
                    <h4>Sistema otimizado para criação,edicao e exclusão de vagas de forma rapida e bastante intuitiva
                    </h4><br>
                    <h5><span class="mensagem">Nos deixe um FeedBack do que achou!</span></h5>
                </div>
            </div>
        </div>
    </div>
    
</div>